.cart-table {
    background-color: #fff;
    
}

.cartList-bg {
    background-color: #f2f2f2;
}

.cartList_detail h4 {
    color: black;
    background-color: rgba(12, 206, 12, 0.692);
}

.thead-dark, .thead-dark tr {
    color: #fff;
    background-color: #00000093;
}

.cart-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}