.cart-table {
    background-color: #fff; /* Establece el fondo de la tabla en blanco */
}

.cartList-bg {
    background-color: #f2f2f2; /* Establece el fondo del elemento "div" en un tono más claro */
}

.cartList_detail h4 {
    color: black;
  }